<div class="task row" id ="task<%= task.id %>">
	<div class="col-md-8">
		<a href="/tasks/<%= task.id %>"><span class="task-name"><%= task.name %></span> </a>
		<br>
		<span class="time"><%= time_ago_in_words(task.created_at) %></span>
	</div>
	<div class="col-md-4 pull-right button_block">
		<%unless task.status==true %>
			<!-- < % unless task.next_active_task.nil? %> -->
				<button class="up_button" onclick="move_up(<%= task.position %>)"></button>
			<!-- < % end %> -->
			<!-- < % unless task.previous_active_task.nil? %> -->
				<button class="down_button" onclick="move_down(<%= task.position %>)"></button>
			<!-- < % end%> -->
		<% end %>
		<% if task.user_id==@user.id %>
			<button class="delete_button" onclick="confirm_delete_task(<%= task.id %>)"></button>
			<!-- <button class="delete_button" onclick="delete_task(< %= task.id %>)"></button> -->
			<% if task.status==true %>
				<button class="uncheck_button" onclick="change_status(<%= task.id %>)"></button>
			<% else %>
				<button class="check_button" onclick="change_status(<%= task.id %>)"></button>
			<% end %>
		<% else %>
		<% if task.status==true %>
				<button class="uncheck_button" ></button>
			<% else %>
				<button class="check_button"></button>
			<% end %>
		<% end %> 
	</div>
</div>