<div class="task row" id ="task<%= task.id %>">
	<div class="col-md-8">
		<span class="task-name"><%= task.name %></span>
		<br>
		<span class="time"><%= task.created_at %></span>
	</div>
	<div class="col-md-4 pull-right" id="button_block">
		<% unless task.next.nil? %>
			<button class="up_button" onclick="move_up(<%= task.id %>)"></button>
		<% end %>
		<% unless task.previous.nil? %>
			<button class="down_button" onclick="move_down(<%= task.id %>)"></button>
		<% end%>
		<button class="delete_button" onclick="confirm_delete_task(<%= task.id %>)"></button>
		<!-- <button class="delete_button" onclick="delete_task(< %= task.id %>)"></button> -->
		<% if task.status==true %>
			<button class="uncheck_button" onclick="change_status(<%= task.id %>)"></button>
		<% else %>
			<button class="check_button" onclick="change_status(<%= task.id %>)"></button>
		<% end %>
	</div>
</div>