<div>
	<div id="wrapper" style="width:100%; text-align:center">
		<div id="top_nav" class="row">
			<div id="tab_nav" class="col-md-7">
				<% if @tab=="completed" %>
					<button class="nav_button " ><a href="/tasks">Active</a></button>
					<button class="nav_button active" ><a href="/tasks?completed=true">Inactive</a></button>
				<% else %>
					<button class="nav_button active" ><a href="/tasks">Active</a></button>
					<button class="nav_button " ><a href="/tasks?completed=true">Inactive</a></button>
				<% end %>
				<input type="search" id="search_button" placeholder="Search"> </input>
			</div>
		  	<nav class="col-md-5">
			  	<div class="dropdown" id="profile_menu">
					<a class="" type="button" id="profile_link" data-toggle="dropdown" aria-expanded="true">
						<%= @user.name %>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" id="menu_list">
						<li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#" class="inactive "><%= @user.email %></a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="/users/change_password" class="active">Change Password</a></li>
					</ul>
				</div>
				<a href="/logout" id="logout">Logout</a>
			</nav>
		</div>
	  	<div id="input">
			<input type="text" name="" id="input_task" class="form-control_back" value="" required="required" pattern="" title="" placeholder="Add your todo Entry hit 'Enter' to post">
			<span id="input_img"></span>
		</div>
	</div>
	<div id="task_list">
		<%= render :partial => @tasks %>
		<% if @tasks.next_page %>
			<nav id="page-nav" style="width:100%; text-align:center">
				<button id="load_next" onclick="load_next(<%= @tasks.next_page %>)">load</button>
			  	<a href="/tasks/task_list?page=<%=@tasks.next_page %>"></a>
			</nav>
		<% end %>
		<!-- < %= link_to 'Load More Posts', tasks_path(:page => @tasks.next_page), :class => 'load-more-posts', :remote => true if @tasks.next_page %> -->
	</div>
</div>
<div id="status"></div>