<link rel="stylesheet" href="/stylesheets/bootstrap-multiselect.css" type="text/css"/>
<div id="top_nav" class="row">
	<div id="tab_nav" class="col-md-7">
		<form action="/tasks">
		<input type="search" id="search_button" name="search" placeholder="Search"> </input>
		<% if @tab=="completed" %>
		<input type="hidden" name="completed" value="true">
		<% end %>
	</form>
	</div>
  	<nav class="col-md-5">
	  	<div class="dropdown" id="profile_menu">
			<a class="" type="button" id="profile_link" data-toggle="dropdown" aria-expanded="true">
				<%= @user.name %>
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" id="menu_list">
				<li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#" class="inactive "><%= @user.email %></a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="/users/change_password" class="active">Change Password</a></li>
			</ul>
		</div>
		<a href="/logout" id="logout">Logout</a>
	</nav>
</div>

<a href="/tasks">< GoBack to home</a>
<div id="show_task_box" class="">
		<div id="task-top" class="row">
			<div class="col-md-8">
				<span class="task-name"><%= @task.name %></span><%= @task.position %>
				<br>
				<span class="time"><%= time_ago_in_words(@task.created_at) %></span>
				<br/>
			</div>
			<div class="col-md-4 pull-right button_block">
				<% if @task.user.id== @user.id %>
					<button class="delete_button" onclick="confirm_delete_task_modal(<%= @task.id %>)"></button>
				<% end %>
			</div>
		</div>
		<div id="task-bottom" class="row">
			<div class="col-md-8">
				Task Completion
				<div id="slider"></div>

				Shared with:
				<% for user in @shared_users %>
					<% if user.name!=@user.name %>
					 <%=h user.name %>
					<% end %>
				<% end %>
				<!-- Button trigger modal -->
				<% if @task.user.id== @user.id %>
				<br/>
				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
				  Share
				</button>
				<% end %>
			</div>
			<div class="col-md-4 pull-right button_block">
				<% if @task.user.id== @user.id %>
					<% if @task.status==true %>
						<button id="status_button" class="uncheck_button" onclick="change_status(<%= @task.id %>)"></button>
					<% else %>
						<button id="status_button" class="check_button" onclick="change_status(<%= @task.id %>)"></button>
					<% end %>
				<% end %>
			</div>
		</div>		
</div>
<div id="comment_list">
	<%= render :partial=> @task.comments %>
</div>
<%= render "comments/form" %>
<span id="task_id" style="display:none;"><%= @task.id %> </span> <br/>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  	<div class="modal-dialog">
	    <div class="modal-content">
	    	<%= form_tag "/tasks/share_task/"+@task.id.to_s,:method=>:put %>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel">Add people to this task</h4>
				</div>
				<div class="modal-body">
				<!-- <form action="/tasks/share_task/<%= @task.id %>" method="POST"> -->
					<% for user in @users %>
					<% if user.id!=@task.user_id %>
						   	<div id="user<%= user.id%>" class="user_div">
								<input name="check[<%= user.id %>]" type="checkbox" <% if @shared_users.include? user%> checked <%end %> >
								<option value="<%=h user.name %>"><%=h user.name %></option>
							</div>
						<% end %>
					<% end %>				
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save changes</button>
				</div>
			</form>
		</div>
  	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$( "#slider" ).slider( "value", <%= @task.progress %> );
	<% if @task.status==true %>
	$( "#slider" ).slider( "option", "disabled", true );
	<% end %>
});
</script>


